.clientInfoPageContainer, .clientInfoContainer{
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin : 1rem;
}

.songsContainer{
    display : flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.requestedSongsListContainer, .doNotPlaySongsListContainer{
    border : 2px solid black;
    margin : 2rem;
    padding : 1rem;
}