.commentsList {
    list-style: none;
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'EB Garamond', serif;
    font-size: 1rem;
}

.commentListItem{
    margin : 0.5rem;
}