.songList {
    list-style: none;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding : 0;
    width: 100%;
    max-width: 400px;
    height : 100%;
    min-height : 180px;
    border : 2px solid black;
}

.songListItem{
    font-size : 1rem;
    margin : 0.5rem;
}