.clientInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  width: 100%;
  max-width: 250px;
  padding: 1rem;
  margin: 1rem;
}

.clientName {
  font-size: 1.2rem;
}
