.songContainer {
    display : flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 400px;
    height : 180px;
    border: 2px solid #00a118;
    margin : 1rem;
}

.songName, .artistName, .songKey{
    margin : 1.25rem;
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
} 

.buttonsContainer{
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}