.clientFinalSetListPageContainer, .commentsContainer, .songsContainer{
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin : 1rem;
}

.listsContainer{
    display : flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}