.clientListPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clientsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
