.navbarContainer {
    color :#fff;
    background-color :#00a118;
    width : 100%;
    padding : 1rem;
    display : flex;
    flex-direction: row;
}

.navLink{
    color :#fff;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-size : 1.25rem;
    font-weight: 200;
}